array/array_table
array/double_array
array/inverted_pyramid
array/negarive_star
array/new_pattern
array/number_patter
array/pyramid
array/star
array/user_array
factorial/factorial
linklist/Insert_begining
linklist/new_node_creation
linklist/new_node_creation.s
linklist/node_creating
linklist/a.out


