doctype html 
html
  head
    title RK Dance Academy
    block scripts
    block style
  body
    nav#navbar
        ul
            div#logo
                img(src='/static/img/3.png')
                h5 RDX
            li #[a(href='/') Home ]
            li #[a(href='/') About ]
            li #[a(href='/') Service ]
            li #[a(href='/') Class Info]
            li #[a(href='/contact') Contact us]
            
    block content
    footer#footer
        | Copyrights @ 2023 RKDanceacademy.com All rights reserved
    